@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p> O Porto é uma cidade e um município português, sendo capital da Área Metropolitana do Porto, da Região do Norte e do Distrito do Porto.É a cidade que deu o nome a Portugal - desde muito cedo (c. 200 a.C.), quando se designava de Portus Cale, vindo mais tarde a tornar-se a capital do Condado Portucalense, de onde se formou Portugal.</p>
    <div class="container">
        <img src="img1.jpg" alt="" id="foto1">
        <img src="img2.jpg" alt="" id="foto2">
    </div>
</div>
