@model ufcd10789_Tarefa06.Models.Equipa

@{
    ViewData["Title"] = "Criar equipa";
    ViewBag.ContentCssClass = "equipa-create";
}

<div class="container">
    <h1>
        <i class="fa fa-circle-plus"></i>
        Criar nova equipa
    </h1>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Pontos" class="control-label"></label>
                    <input asp-for="Pontos" class="form-control" />
                    <span asp-validation-for="Pontos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Jogos" class="control-label"></label>
                    <input asp-for="Jogos" class="form-control" />
                    <span asp-validation-for="Jogos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cidade" class="control-label"></label>
                    <input asp-for="Cidade" class="form-control" />
                    <span asp-validation-for="Cidade" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-floppy-disk"></i> Criar
					</button>
                    <a asp-action="Index" class="btn btn-outline-primary">
                        <i class="fa fa-list"></i> Volta à lista
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
